definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: Customer_Pending_orders.py
    artifacts:
      - pyproject.toml
      - Customer_Pending_orders.py
      - .streamlit/config.toml
